page-debt-calc {

    #keypad {
        position: absolute; 
        bottom: 0px;
        width: 100%;
    }
    
    .number{
        background-color: rgb(38, 49, 68);
    }

    .operator{
        background-color: rgb(54, 68, 81);
    }

}
