<!--
  Generated template for the DetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list class="list-full-border">

    <ion-item-divider color="dark">
      Lend
    </ion-item-divider>

    <ion-spinner name="circles" *ngIf="loadingLend"></ion-spinner>

    <ion-item-sliding #item *ngFor="let lend of lendList | async">

      <ion-item>
        {{lend.Note}}
        <ion-note item-end>
          {{lend.Currency}} {{lend.Amount}}
        </ion-note>
      </ion-item>

      <ion-item-options side="right">

        <button ion-button color="primary" (click)="editDebt('Lend', lend, item)">
          <ion-icon name="create"></ion-icon>
          Edit
        </button>

        <button ion-button color="danger" (click)="deleteDebt('Lend', lend, item)">
          <ion-icon name="archive"></ion-icon>
          Delete
        </button>

      </ion-item-options>

    </ion-item-sliding>

    <ion-item-divider color="dark">
      Owe
    </ion-item-divider>

    <ion-spinner name="circles" *ngIf="loadingOwe"></ion-spinner>

    <ion-item-sliding #item *ngFor="let owe of oweList | async">

      <ion-item>
        {{owe.Note}}
        <ion-note item-end>
          {{owe.Currency}} {{owe.Amount}}
        </ion-note>
      </ion-item>

      <ion-item-options side="right">

        <button ion-button color="primary" (click)="editDebt('Owe', owe, item)">
          <ion-icon name="create"></ion-icon>
          Edit
        </button>

        <button ion-button color="danger" (click)="deleteDebt('Owe', owe, item)">
          <ion-icon name="archive"></ion-icon>
          Delete
        </button>

      </ion-item-options>

    </ion-item-sliding>
  </ion-list>
</ion-content>
